<nav class="navbar">
    <div class="navbar-logo">
    <a routerLink="/" [class.active]="activeButton === 'home'" (click)="setActiveButton('home')">
        <img src="assets/images/logo.png" alt="Logo">
      </a></div>
    <ul>
      <li><a routerLink="/" [class.active]="activeButton === 'home'" (click)="setActiveButton('home')">Home</a></li>
      <li><a routerLink="/about" [class.active]="activeButton === 'about'" (click)="setActiveButton('about')">Sobre</a></li>
      <li><a routerLink="/services" [class.active]="activeButton === 'services'" (click)="setActiveButton('services')">Servicos</a></li>
      <li><a routerLink="/parceiros" [class.active]="activeButton === 'parceiros'" (click)="setActiveButton('parceiros')">Parceiros</a></li>
      <li><a routerLink="/blog" [class.active]="activeButton === 'blog'" (click)="setActiveButton('blog')">Blog</a></li>
      <li><a routerLink="/contato" [class.active]="activeButton === 'contato'" (click)="setActiveButton('contato')">Contato</a></li>
    </ul>
  
  </nav>