<nav class="navbar">
    <div class="navbar-logo">
    <a routerLink="/" >
        <img src="assets/images/logo.png" alt="Logo">
      </a></div>
    <ul class="navlinks">
      <li><a routerLink="/" [class.active]="isHomeActive" >Home</a></li>
      <li><a routerLink="/about" [class.active]="isActive('about')">Sobre</a></li>
      <li><a routerLink="/services" [class.active]="isActive('services')">Servicos</a></li>
      <li><a routerLink="/parceiros" [class.active]="isActive('parceiros')">Parceiros</a></li>
      <li><a routerLink="/blog" [class.active]="isActive('blog')">Blog</a></li>
      <li><a routerLink="/contato" [class.active]="isActive('contato')">Contato</a></li>
    </ul>
  
  </nav>