<body>
    <div class="texto_about">
        <h1 style="font-family: AmplesoftBold;">QUEM SOMOS</h1>
        <p>A CodeFlow é uma empresa especializada em desenvolvimento de softwares personalizados. Nossa equipe altamente qualificada cria soluções inovadoras para atender às necessidades específicas de cada cliente. Valorizamos a colaboração e oferecemos suporte contínuo. Estamos comprometidos em impulsionar o sucesso dos negócios por meio da tecnologia. Entre em contato conosco para transformar suas ideias em realidade.
        </p>
    </div>
</body>