.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-satelite {
    position: relative;   
    left: -5%;
    display: flex;
    
}

.img-satelite img{
    max-width: 100%;
    height: auto;
}

.txt-home {
    
    width: 100%;
    color: #F8F8F8;
    text-align: center;
    display: flex;
    
  }
  

.txt-home p{
    font-family: AmplesoftBold;
    font-size: 50px;
    
}
  
@media (max-width: 100px) {
    .img-satelite img {
      max-width: 20%; 
    }
  }
  
  
  
  