@font-face {
    font-family: "Amplesoft";
    src: url("src/assets/fonts/amplesoft.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  

  @font-face {
    font-family: "AmplesoftBold";
    src: url("src/assets/fonts/amplesoft-bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }


* {
    margin: 0;
    padding: 0;
    font-family: Amplesoft;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.4s;
}


.black-background {
  background-color: #181443;
  background-image: url("src/assets/images/logobg.png");
  background-repeat: repeat;
}

.white-background {
  background-color: #F8F8F8;
  background-image: url("src/assets/images/logobg.png");
  background-repeat: repeat;
}